.left {
  display: flex;
  height: 50vh;
}
.left_1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.img_wrap {
  width: 80px;
  height: 80px;
  border: 1px solid #eee;
  cursor: pointer;
}
.img_wrap img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}
.left_2 {
  z-index: 1;
}
.left_2 img {
  width: 500px;
  height: 100%;
  object-fit: contain;
}