.our-people{
    padding:3rem 0;
    background: #F6F8FA;
}
.our-people .img-wraper{
   position: relative;
}
.our-people .lg-img img{
   height: 500px;
   object-fit: cover;
   margin-top: 20px;
}
.our-people .lg-img h6{
    position: absolute;
    top: 2.2rem;
    right: 1rem;  
}
.our-people .sm-img img{
   height: 240px;
   object-fit: cover;
   margin-top: 20px;
}
.our-people .sm-img h6{
 position: absolute;
 top: 2.2rem;
 left: 1rem;
}
.our-people .img-wraper h6 {
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 199.02%;
color: #000;
}
.our-people .img-wraper h6 span{
    font-weight: 700;
color: #F24E1E;
}